# Ignore Python junk
__pycache__/
*.pyc

# Jupyter checkpoint files
.ipynb_checkpoints/

# Virtual environments
venv/
env/
alphaenv/

# OS files
.DS_Store

# Ignore large raw downloads (optional)
data/raw/Stock_prices/


